<form action="" method="post">
    <h1>Edit deparment page</h1>
Department:
<input type="text"  name="name" id="" required
placeholder="Edit name department" value= "{{ department.name}}">
<br><br>

 Leader:
   <select name="user" id="">
  {{#each userList }}
        <option value="{{_id}}">{{ email }}</option value={{department.user}}>
    {{/each}} 
   </select>
<br><br>
<input type="submit" value="Edit">
</form>