 <div id="editDialog" class="dialog">
<form action="" method="post">
    <h1>Edit my profile</h1>
Username: {{username}}
<br><br>
Email: {{email}}
<br><br>

Department: {{department}}
<br><br>
Role: {{ role }}



<input type="submit" value="Edit">
</form>

</div>
