
<form action="" method="post">
    <h1>Edit user page</h1>
<input type="text"  name="name" id="name" required
placeholder="Edit user name" value= "{{ categorybreak.name}}">

<br><br>
<input type="text"  name="description" id="description" required
placeholder="Edit user email" value= "{{  categorybreak.description }}">

<input type="submit" value="Edit">
</form>
